<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <% if (theme.copyright){ %>
        <%- render(theme.copyright, 'pug'); %>
      <% } %>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="https://hexo.io/" target="_blank">Hexo</a>
      <% if (theme.busuanzi){ %>
        <br>
        <span id="busuanzi_container_site_uv" style="display: inline;">
          访问人数: <span id="busuanzi_value_site_uv">0</span>
        </span>
        <span id="busuanzi_container_site_pv" style="display: inline; margin-left: 15px;">
          总访问量: <span id="busuanzi_value_site_pv">0</span>
        </span>
      <% } %>
    </div>
  </div>
</footer>

<% if (theme.busuanzi){ %>
<script>
(function() {
  var bp = document.createElement('script');
  bp.src = '//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.min.js';
  bp.async = true;
  bp.onload = function() {
    // 确保脚本加载后重新计数
    if (typeof busuanziCallback !== 'undefined') {
      busuanziCallback();
    }
  };
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(bp, s);
})();
</script>
<% } %>